@import url("https://fonts.googleapis.com/css2?family=Itim&family=Lato&family=Montserrat:wght@300;600&family=Mulish&family=Noto+Serif:wght@700&family=Open+Sans:wght@300;600&family=Raleway:wght@200;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  color: #312e81;
  font-family: "Itim", cursive;
}

body {
  background-color: #c7d2fe;
}
.main_div {
  width: 600px;
  margin: auto;
}
#heading {
  text-align: center;
  margin-bottom: 75px;
  margin-top: 50px;
  letter-spacing: 1px;
}
.container {
  font-size: 20px;
  border: 1px solid #3730a3;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  border-radius: 1rem;
}

#text {
  max-width: 300px;
  padding: 20px;
  text-align: center;
  letter-spacing: 1px;
  height: 50px;
  padding: 50px;
  margin-bottom: 25px;
}

#btn {
  width: fit-content;
  padding: 4px 15px;
  background-color: #312e81;
  border: 1px solid #312e81;
  color: #c7d2fe;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#author {
  align-self: flex-end;
  margin: 5px;
  letter-spacing: 1px;
}

#btn:hover {
  background-color: #c7d2fe;
  border-color: #312e81;
  color: #312e81;
  cursor: pointer;
}
